
/*样式重置*/

body,ul,a,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{
    padding:0;
    margin:0;
    font-family:Arial;
}
li{list-style: none ;}
img{border:none;}
a{text-decoration: none;}
a.hover{text-decoration: underline;}

/*为了能够更改背景色*/
body{background: #fff url("../images/body_bg.png") repeat-x;}

#top{
    width:960px;
    height:30px;
    margin:0 auto;
}

.top_menu{
    float: left;
}


.top_menu li{
    float: left;
    background: url("../images/top_ico.png") no-repeat right 14px;
    font-size: 13px;
    line-height: 30px;
    padding-right: 18px;
    margin-right: 15px;
}
.top_menu a{
    color: #c0c0c0;
}
.top_menu a:hover{
    color:#fff;
}
.top_menu .no_dot{
    background:none;
    padding:0;
    margin:0;
}


.top_bar{
    float: right;
}

.top_bar li{
    float: left;
    height:30px;
    color:#fff;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;

}
.top_bar .phone{
    background: url("../images/top_ico.png") no-repeat 5px -16px;
    padding:0 38px;
}
.top_bar .help{
    background: url("../images/top_ico.png") no-repeat 0 -46px;
    padding:0 38px;
}

.top_bar .phone a{
    color:#fff;
}

.top_bar .help a{
    color:#fff;

}
.top_bar .image{
    margin-right:14px;
}
.top_bar a:hover{}


#header{
    width:960px;
    height:100px;
    margin:0 auto;
    position: relative;
    background: url("../images/header_bg.png");
}
#shopping{
    width:260px;
    height:100px;
    background: url("../images/shopping_bg.png") no-repeat;
    position: relative;
}
#shopping p{
    color:#f7f7f7;
    font-size:20px;
    font-family:Arial;
    padding:30px 0 0 84px;
}
#shopping a{
    display: block;
    width:114px;
    height:23px;
    background: url("../images/shopping_bg.png") no-repeat 0 -100px;
    position: absolute;
    left:104px;
    top:63px;
    font-size:15px;
    color:#ffc200;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    line-height: 23px;
}
#shopping a:hover{
    color: #ffe388;
}

#header h1{
    width:238px;
    position:absolute;
    top:0;
    left:50%;
    margin-left: -119px;
}

#header .search{
    top:34px;
    right:0;
}
.search{
    width:292px;
    height:32px;
    background: url("../images/search.png") no-repeat;
    position: absolute;
}
.search .text{
    width:230px;
    height:30px;
    position: absolute;
    left:20px;
    top:0;
    background: none;
    border:none;
    font-size: 13px;
    color: #666;
    outline: none;
}
.search .btn{
    position: absolute;
    top:0;
    right: 0;
    width: 42px;
    background: none;
    border:none;
    height:30px;
}

#nav{
    width:960px;
    height:36px;
    margin:0 auto;
    padding-top: 8px;
}
#nav li{
    float: left;
    height:28px;
    margin-right: 2px;

}
#nav a{
    float: left;
    height:28px;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    font-family:Arial;
    line-height: 28px;

}
#nav strong{
    float: left;
    height:28px;
    font-weight: normal;
}
#nav span{
    float: left;
    height:28px;
    padding:0 16px;
}

#nav a:hover,#nav .active a{
    background:url("../images/nav_active_bg.png") repeat-x 0 -56px;
}
#nav a:hover strong,#nav .active strong{
    background: url("../images/nav_active_bg.png") no-repeat;
}

#nav a:hover span,#nav .active span{
    background: url("../images/nav_active_bg.png") no-repeat right -28px;
}
